<!DOCTYPE html>
<html>
  <head>
    <title>Parcels</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='styles.css'>
  </head>
  <body>
    <div class="container">
      <h1>Parcel</h1>
      <%= yield %>
    </div>
  </body>
</html>
