<h2> Enter informaiton</h2>

<form action="/parcels" method="post">
  <label for="name">Contents</label>
  <input type="text" name="name">
  <label for="width">Width</label>
  <input type="text" name="width">
  <label for="height">Height</label>
  <input type="text" name="height">
  <label for="length">Length</label>
  <input type="text" name="length">
  <label for="weight">Weigth</label>
  <input type="text" name="weight">
  <label for="distance">Distance</label>
  <input type="text" name="distance">
  <button type="submit" name="button">Submit</button>
</form>
