<% if @parcels.any? %>
<ul>
  <% @parcels.each do |parcel| %>
  <li><%= parcel.name %></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no parcels to display.</p>
<% end %>

<a href="/parcels/new">Add a parcel</a>

<% @parcels.each do |parcel| %>
    <li><a href="/parcels/<%= parcel.id %>"><%= parcel.name %></a></li>
  <% end %>
